<div class="form-group">
  <label for="file">Choose File</label>
  <input type="file" id="file" (change)="handleFileInput($event.target.files)">
</div>

<br/>
<button (click)="uploadFileToActivity()">upload</button>
<br/>
<div *ngIf="isDetecting">Detecting...</div>
<br/> {{detecteReceipt | json}}
<br/> {{detectedMessage}}
<br/> {{detectedText}}
<br/>

<div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Title" value={{receipt.title}} (input)="receipt.title=$event.target.value">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Description" value={{receipt.description}} (input)="receipt.description=$event.target.value">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Total" value={{receipt.total}} (input)="receipt.total=$event.target.value">
    </mat-form-field>
  </div>
  <br/>
  <button mat-raised-button color="primary" (click)="saveReceipt(receipt)">save</button>
</div>